.main{
    width: 70%;
    height: 50px;

    display: flex;
    justify-content:space-around;
    
}
.foot{
    width: 90%;
    height: 200px;
   
    display: flex;
    justify-content: space-around;
}
.last{
    display: flex;
    justify-content: space-around;
}
.bg{
    background:radial-gradient(pink,gray);
}